.section-benefits {
  @media screen and(max-width: 1199px) {
    @include padding($b: 60px, $t: 60px);
  }
  @media screen and(min-width: 1200px) {
    @include padding($b: 47px);
  }
}

.section-benefits__title--hidden {
  visibility: hidden;
  font-size: 0;
}
.section-benefits__list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width:1200px) {
    @include flex($jc: space-between);
  }
}

.section-benefits__box {
  @media screen and(max-width: 767px) {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 0 15px;
  }
  @media screen and(min-width: 1200px) {
    width: 270px;
  }
}
.section-benefits__icon {
  @extend %centeredFlex;

  height: 120px;
  background-color: $background-secondary-color;

  margin-bottom: 30px;
  border-radius: 4px;
}

.section-benefit__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and(max-width: 767px) {
    text-align: center;
  }
}
.section-benefit__description {
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10;
}
