.social-list {
  @include flex($jc: space-between);
  &--team {
    width: 100%;
    padding: 0 32px 30px 32px;
  }
}
.social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  @extend %centeredFlex;
  @include transit(background-color);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &:hover svg,
  &:focus svg {
    fill: $primary-white-color;
    @include transit(fill);
  }
  &--team {
    background-color: $primary-white-color;
  }
  &--team svg {
    fill: $social-icons-primary;
  }
  &--footer {
    background-color: $footer-social-transparent;
  }
  &--footer svg {
    fill: $primary-white-color;
  }
}
