.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  @include transit(color);
  @include flex($ai: center);
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  & svg {
    margin-right: 10px;
    fill: $secondary-text-color;
    @include transit(fill);
  }
  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}
