.section-benefits {
  @include padding($b: 47px);
}
.section-benefits__title--hidden {
  visibility: hidden;
  font-size: 0;
}
.section-benefits__list {
  @include flex($jc: space-between);
}
.section-benefits__box {
  width: 270px;
}
.section-benefit__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-benefits__icon {
  @extend %centeredFlex;

  height: 120px;
  background-color: $background-secondary-color;

  margin-bottom: 30px;
  border-radius: 4px;
}

.section-benefit__description {
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10;
}
