.section-clients {
  @include padding;
}

.section-clients__box {
  @extend %centeredFlex;
}
.section-clients__link {
  @extend %centeredFlex;
  padding: 16px 32px;

  border-radius: 4px;
  @include bordered($color: $social-icons-primary);

  @include transit(border-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  & svg {
    fill: $social-icons-primary;
    @include transit(fill);
  }
  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}
